<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="userinfo" type="HSCentric.HSUnitSection, HSCentric" />
  </configSections>

  <userinfo>
    <HSUnit>
      <add path="E:\Hearthstone\Hearthstone.exe" starttime="2022-7-20 15:30:18" stoptime="2022-7-20 15:41:26"/>
    </HSUnit>
  </userinfo>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
</configuration>