<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="userinfo" type="HSCentric.HSUnitSection, HSCentric" />
  </configSections>

  <userinfo>
    <HSUnit />
  </userinfo>

  <startup>
    <!-- supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" / -->
  </startup>
  
  <appSettings>
    <add key="rest_url" value=""/>
    <add key="hs_path" value=""/>
  </appSettings>
  
</configuration>